{% extends "climbing_website/base.html" %}

{% block title %}Create rock{% endblock %}

{% block content %}

<h1>Create rock</h1>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}

    {% for field in form %}
    <div>
        <div>{{ field.label }}</div>
        {{ field }}
        <ul>
           {% for error in field.errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

    <button type="submit">Submit</button>
</form>

{% endblock %}
