{% extends "climbing_website/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-sm-center flex-column" style="height: 100%;">
    <h1>Wspinaczkowy Portal Społecznościowy</h1>
    <div class="d-flex justify-content-center align-items-sm-center" style="gap: 8px">
        <img src="https://www.supercoloring.com/sites/default/files/styles/coloring_medium/public/cif/2016/11/matterhorn-coloring-page.png"
             alt="mountains">
        <div class="text-center" style="width:50%">

            <br>
            <br>
            <p>Witaj na naszym portalu wspinaczkowym! Tutaj znajdziesz informacje na temat lokalizacji, skał i tras
                wspinaczkowych na całym świecie.</p>

            <p>Szukasz wyzwania? Przejrzyj naszą bazę danych i odkryj setki miejsc, gdzie możesz przetestować swoje
                umiejętności
                wspinaczkowe. W naszym katalogu znajdziesz wiele różnych rodzajów skał i ścian wspinaczkowych - od
                łatwych i
                przyjaznych dla początkujących, po trudne i wymagające doświadczenia.</p>

            <p>Dla każdej lokalizacji i skały, udostępniamy szczegółowe informacje dotyczące trudności, długości i
                innych
                istotnych czynników, takich jak warunki pogodowe. Znajdziesz tutaj także opisy tras i wskazówki, jak się
                do nich
                przygotować.</p>

            <p>Nie masz swojego sprzętu wspinaczkowego? Nie martw się, na naszej stronie znajdziesz również informacje o
                wypożyczalniach sprzętu wspinaczkowego i szkołach wspinaczkowych, które oferują kursy dla
                początkujących.</p>

            <p>Jeśli chcesz przyczynić się do naszej społeczności wspinaczkowej, możesz założyć konto i dodawać swoje
                własne
                trasy i lokalizacje wspinaczkowe, oraz recenzować i komentować już istniejące.</p>

            <p>Dołącz do naszej społeczności i odkryj nowe możliwości wspinaczkowe dzięki naszemu portalowi!</p>

        </div>
    </div>
</div>

{% endblock %}
