{% extends "climbing_website/base.html" %}

{% block title %}Reviews{% endblock %}

{% block content %}

<h1 class="text-center">Reviews</h1>

<table class="table">
    <thead>
    <tr>
        <th>Grade</th>
        <th>Description</th>
        <th>Username</th>
        <th>Date created</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {% for review in reviews %}
    <tr>
        <td>{{review.user_grade}}</td>
        <td>{{review.user_description}}</td>
        <td>{{review.user.username}}</td>
        <td>{{review.date_create}}</td>
        <td><a href="{% url 'delete_review' pk=review.id %}">Delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
