{% extends "climbing_website/base.html" %}

{% block title %}Rocks{% endblock %}

{% block content %}

<h1 class="text-center">Rocks</h1>
{% if user.is_superuser %}
<a href="{% url 'create_rock' %}" class="floating-button"><button class="btn btn-success"><i class="bi bi-plus-lg"></i></button></a>
{% endif %}


<div class="accordion" id="accordionExample">
    {% for rock in rocks %}
    <div class="accordion-item" id="rock_{{rock.id}}">
        <h2 class="accordion-header" id="heading{{rock.id}}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapse{{rock.id}}"
                    aria-expanded="false" aria-controls="collapse{{rock.id}}">
                {{ rock.rock_name }}
            </button>
        </h2>
        <div id="collapse{{rock.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{rock.id}}"
             data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="d-flex justify-content-center"><img id="rock-image-{{rock.id}}" style="max-width: 100%;" src="{% url 'image_rock' rock_id=rock.id %}"
                          alt="rock"/>
                </div>
                <button data-title="{{rock.rock_name}}" image-id="{{rock.id}}" type="button" class="btn btn-primary"
                        data-bs-toggle="modal" data-bs-target="#modal">
                    <i class="bi bi-zoom-in"></i>
                </button>

                <table class="table">
                    <tr>
                        <td>District</td>
                        <td>{{ rock.localization.district }}</td>
                    </tr>
                    <tr>
                        <td>Region</td>
                        <td>{{ rock.localization.region }}</td>
                    </tr>
                    <tr>
                        <td>Subregion</td>
                        <td>{{ rock.localization.subregion }}</td>
                    </tr>
                    <tr>
                        <td>Max. crag height</td>
                        <td>{{ rock.height }}</td>
                    </tr>
                    <tr>
                        <td>Rock face exposure</td>
                        <td>{{ rock.insolation }}</td>
                    </tr>
                    <tr>
                        <td>Dominant rock formations</td>
                        <td>{{ rock.formation }}</td>
                    </tr>
                    {% if user.is_superuser %}
                    <tr>
                        <td>Admin tools</td>
                        <td><a href="{% url 'update_rock' pk=rock.id %}">Edit</a>
                            <a href="{% url 'delete_rock' pk=rock.id %}">Delete</a></td>
                    </tr>

                    {% endif %}
                </table>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="hThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#cThree" aria-expanded="false" aria-controls="cThree"><i class="bi bi-sign-turn-left"></i>All routes
                        </button>
                    </h2>
                    <div id="cThree" class="accordion-collapse collapse" aria-labelledby="hThree">
                        <div class="accordion-body">
                            <ul class="list-group">
                                {% for route in rock.routes.all %}
                                <li class="list-group-item"><a href="{% url 'review' route_id=route.id %}">{{ route.route_number }}. {{ route.rout_name }}</a>
                                    {% if user.is_superuser %}
                                    <span style="float: right;">
                                        <a href="{% url 'update_route' pk=route.id %}">Edit</a>
                                        <a href="{% url 'delete_route' pk=route.id %}">Delete</a>
                                    </span>

                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>


<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modal-title"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center" id="modal-body">
                <img src="" alt="rocks" id="modal-image" class="fit-image">
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

<script>
    const urlParams = new URLSearchParams(window.location.search);
    scrollAndClick(urlParams.get("id"))


</script>

<script>
    const imageModal = document.getElementById('modal')

    imageModal.addEventListener('shown.bs.modal', (event) => {
        const imageId = event.relatedTarget.getAttribute("image-id")
        const imageName = event.relatedTarget.getAttribute("data-title")
        const image = document.getElementById("modal-image")
        image.src = "/image_rock/" + imageId
        const title = document.getElementById("modal-title")
        title.innerHTML = imageName
    })


</script>

{% endblock %}