{% extends "climbing_website/base.html" %}

{% block title %}Route review{% endblock %}

{% block content %}

<h1 class="text-center">Route review - {{object.rout_name}}</h1>

<div class="d-flex justify-content-center align-items-sm-center">
    <table class="table" style="max-width: 50%;">
    <tr>
        <td>Description</td>
        <td>{{object.description}}</td>
    </tr>

    <tr>
        <td>Rate</td>
        <td>{{object.grades}}</td>
    </tr>
    <tr>
        <td>Average users rate</td>
        <td>{{rate}}</td>
    </tr>
</table>
</div>

<br>

<div class="container" style="max-width: 50%;">
    <div class="text-center border">
        <h3>Add review</h3>

        <form method="POST">
            {% csrf_token %}

            {% for field in form %}
            <div style="padding-left: 10px;padding-right:10px">
                <div>{{ field.label }}</div>
                {{ field }}
                <ul>
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <div style="margin:7px">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>


<div class="be-comment-block">
    <h1 class="comments-title">Comments ({{reviews.count}})</h1>

    {% for review in reviews %}
    <div class="be-comment">
        <div class="be-img-comment">
            <a href="blog-detail-2.html">
                <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                     alt="" class="be-ava-comment">
            </a>
        </div>
        <div class="be-comment-content">

				<span class="be-comment-name">
					{{review.user.username}}
					</span>
            <span class="be-comment-time">
					<i class="fa fa-clock-o"></i>
					{{review.date_create}}
				</span>

            <p class="be-comment-text">
                {{review.user_description}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
