{% extends "climbing_website/base.html" %}

{% block title %}Routes{% endblock %}

{% block content %}

<h1 class="text-center">Routes</h1>
{% if user.is_superuser %}
<a href="{% url 'create_route' %}" class="floating-button"><button class="btn btn-success"><i class="bi bi-plus-lg"></i></button></a>
{% endif %}

<table class="table">
    <thead>
        <tr>
            <th>Route name</th>
            <th>Grades</th>
            <th>Authro</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for route in routes %}
        <tr>
            <td>  {{ route.rout_name }}</td>
            <td>   {{ route.grades }}</td>
            <td>   {{ route.autor }}</td>
            <td>
                       <a href="{% url 'update_route' pk=route.id %}">Edit</a>
        <a href="{% url 'delete_route' pk=route.id %}">Delete</a>
            </td>
        </tr>
     {% endfor %}
    </tbody>
</table>


{% endblock %}
